---
import Forecast from "../components/Forecast.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout class="p-4 py-8">
  <h1 class="text-xl w-48">
    Hello, what's the weather <span class="font-bold">today</span>?
  </h1>

  <Forecast />
</BaseLayout>
