---
import Card from "../components/Card.astro";
import Clock from "../components/Clock.astro";
import Counter from "../components/Counter.astro";
import Image from "../components/Image.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div>
      <img
        src="favicon.svg"
        alt="Astro logo"
        width="50"
        height="50"
        style="background-color: #666;"
      />
      <h1>Astro</h1>
    </div>

    <div>
      <p>Temperatura</p>
      <div style="font-size:32pt;" id="jsonplaceholder">carregando...</div>
    </div>

    <Image src="capi.jpg" alt="Astro logo" width="200" />

    <Card title="Contadores">
      <Counter />
      <Counter />
      <Counter />
    </Card>

    <Card title="Relógio e Select">
      <select
        id="select"
        style="font-size: 12pt; padding: .5rem; border: 2px solid #000; width: fit-content;"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <Clock />
    </Card>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      const jsonplaceholder = document.getElementById("jsonplaceholder");
      fetch(
        "https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=-22.91&lon=-43.17",
        {
          headers: {
            "User-Agent": "kd-app/1.0 (github.com/ArturGuedes)",
          },
        }
      )
        .then((response) => response.json())
        .then((data) => {
          jsonplaceholder.textContent =
            JSON.stringify(
              data.properties.timeseries[0].data.instant.details.air_temperature
            ) + "º";
        });
    }, 2000);
  });
</script>

<style>
  body {
    font-family: system-ui, sans-serif;
    margin: 2rem;
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
</style>
