---
import Contador from "../components/Contador.astro";
import HelloWorld from "../components/Hello.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="p-4 flex flex-col gap-4">
    <h1 class="text-3xl">Astro</h1>
    <p class="text-sm">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim labore aut,
      veritatis obcaecati consequatur aperiam perferendis aliquid eum vitae iste
      cumque distinctio velit saepe doloribus nobis magni, dolore adipisci? Eos.
    </p>

    <div class="container">
      <p>Componente Hello usando Astro</p>
      <HelloWorld name="Astro" />
      <HelloWorld name="Astro 2" />
    </div>

    <div class="container">
      <p>Componente Contador usando Astro</p>
      <div>
        <Contador />
      </div>
    </div>
  </body>
</html>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
