---
import Contador from "../components/Contador.astro";
import HelloWorld from "../components/Hello.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div>
      <img
        src="favicon.svg"
        alt="Astro logo"
        width="50"
        height="50"
        style="background-color: #000;"
      />
      <h1>Astro</h1>
    </div>

    <div>
      <p>Fetch JsonPlaceholder</p>
      <div id="jsonplaceholder">carregando...</div>
    </div>
    <div>
      <p>XML JsonPlaceholder</p>
      <div id="jsonplaceholder2">carregando...</div>
    </div>

    <div class="container">
      <p>Componente Hello usando Astro</p>
      <HelloWorld name="Astro" />
      <HelloWorld name="Astro 2" />
    </div>

    <div class="container">
      <p>Componente Contador usando Astro</p>
      <div>
        <Contador />
        <button id="reset">Reset</button>
      </div>
    </div>

    <select
      id="select"
      style="font-size: 12pt; padding: .5rem; border: 2px solid #000; width: fit-content;"
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <div
      id="counter"
      style="font-size: 24pt; padding: 1rem; border: 2px solid #000; width: fit-content;"
    >
      0
    </div>

    <img src="capi.png" alt="Astro logo" width="200" />
    <img src="capi.jpg" alt="Astro logo" width="200" />
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("reset");
    btn.addEventListener("click", () => {
      btn.textContent = "Reset " + Math.floor(Math.random() * 100).toString();
    });

    const counter = document.getElementById("counter");
    setInterval(() => {
      counter.textContent = Math.floor(Math.random() * 100).toString();
    }, 1000);

    setTimeout(() => {
      const jsonplaceholder = document.getElementById("jsonplaceholder");
      fetch("https://jsonplaceholder.typicode.com/posts/1")
        .then((response) => response.json())
        .then((data) => {
          jsonplaceholder.textContent = JSON.stringify(data);
        });

      const jsonplaceholder2 = document.getElementById("jsonplaceholder2");
      const req = new XMLHttpRequest();
      req.open("GET", "https://jsonplaceholder.typicode.com/posts/2", false);
      req.send();
      jsonplaceholder2.textContent = req.responseText;
    }, 3000);
  });
</script>

<style>
  body {
    font-family: system-ui, sans-serif;
    margin: 2rem;
    display: flex;
    gap: 36px;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
