---
import Card from "../components/Card.astro";
import Clock from "../components/Clock.astro";
import ConfettiButton from "../components/ConfettiButton.astro";
import Contador from "../components/Contador.astro";
import HelloWorld from "../components/Hello.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div>
      <img
        src="favicon.svg"
        alt="Astro logo"
        width="50"
        height="50"
        style="background-color: #000;"
      />
      <h1>Astro</h1>
    </div>

    <div class="container">
      <p>Componente Hello usando Astro</p>
      <HelloWorld name="Astro" />
      <HelloWorld name="Astro 2" />
    </div>

    <Card title="Astro">
      <Contador />
    </Card>

    <div class="container">
      <p>Componente Contador usando Astro</p>
      <div>
        <Contador />
        <Contador />
        <Contador />
        <button id="reset">Reset</button>
      </div>
    </div>

    <select
      id="select"
      style="font-size: 12pt; padding: .5rem; border: 2px solid #000; width: fit-content;"
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <Clock />

    <img src="capi.png" alt="Astro logo" width="200" />
    <img src="capi.jpg" alt="Astro logo" width="200" />

    <div>
      <p>Fetch JsonPlaceholder</p>
      <div id="jsonplaceholder">carregando...</div>
    </div>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("reset");
    btn.addEventListener("click", () => {
      btn.textContent = "Reset " + Math.floor(Math.random() * 100).toString();
    });

    setTimeout(() => {
      const jsonplaceholder = document.getElementById("jsonplaceholder");
      fetch(
        "https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=-22.91&lon=-43.17",
        {
          headers: {
            "User-Agent": "kd-app/1.0 (github.com/ArturGuedes)",
          },
        }
      )
        .then((response) => response.json())
        .then((data) => {
          jsonplaceholder.textContent = JSON.stringify(data);
        });
    }, 2000);
  });
</script>

<style>
  body {
    font-family: system-ui, sans-serif;
    margin: 2rem;
    display: flex;
    gap: 36px;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
