---
import Button from "./ui/Button.astro";
---

<div data-alert-container data-visible="false">
  <div data-alert-modal>
    <span data-alert-message> Configurações do navegador </span>
    <Button data-close variant="ghost"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x"
        ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
      ></Button
    >
  </div>
</div>

<script>
  document.querySelectorAll("[data-alert-container]").forEach((container) => {
    // const defaultAlert = alert;
    alert = function (...args) {
      //   defaultAlert(...args);
      container.dataset.visible = true;

      const alertModal = container.querySelector("[data-alert-modal]");
      alertModal.querySelector("[data-alert-message]").textContent = args[0];

      alertModal.querySelector("[data-close]").addEventListener("click", () => {
        container.dataset.visible = false;
      });
    };
  });
</script>

<style>
  [data-alert-container] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  [data-alert-container][data-visible="false"] {
    display: none;
  }

  [data-alert-modal] {
    border: 2px solid black;
    background: white;
    padding: 1rem;
    width: 400px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
  }
  [data-alert-message] {
    margin-left: 6px;
    font-size: 22px;
    font-weight: 500;
  }

  [data-close]svg {
    width: 32px;
    height: 32px;
  }
</style>
