<div
  data-clock
  style="font-size: 12pt; display: inline-block; padding: .5rem; border: 2px solid #000; width: fit-content;"
>
</div>

<script>
  document.querySelectorAll("[data-clock]").forEach((element) => {
    element.textContent = new Date().toLocaleTimeString();
    setInterval(() => {
      element.textContent = new Date().toLocaleTimeString();
    }, 1000);
  });
</script>
