<div
  data-clock
  style="font-size: 12pt; display: inline-block; padding: .5rem; border: 2px solid #000; width: fit-content;"
>
  0
</div>

<script>
  document.querySelectorAll("[data-clock]").forEach((element) => {
    setInterval(() => {
      element.textContent = Math.floor(Math.random() * 100).toString();
    }, 1000);
  });
</script>
