<div
  data-clock
  style="font-size: 24pt; padding: 1rem; border: 2px solid #000; width: fit-content;"
>
  0
</div>

<script>
  document.querySelectorAll("[data-clock]").forEach((element) => {
    setInterval(() => {
      element.textContent = Math.floor(Math.random() * 100).toString();
    }, 1000);
  });
</script>
