---
const { name = "mundo" } = Astro.props;
---

<button id="contador">
  Clicado <span id="contador-valor">0</span> vezes
</button>

<script>
  // Espera o DOM carregar antes de conectar o evento
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("contador");
    const valor = document.getElementById("contador-valor");

    let contador = 0;

    btn?.addEventListener("click", () => {
      alert("clicou");
      contador++;
      console.log(contador);
      if (valor) valor.textContent = contador.toString();
    });
  });
</script>
