<button data-counter-button>Count 0</button>

<script>
  // Import npm modules.

  // Find our component DOM on the page.
  const buttons = document.querySelectorAll("[data-counter-button]");

  // Add event listeners when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      button.textContent = "Count " + Math.floor(Math.random() * 100);
    });
  });
</script>
