---
import Button from "./ui/Button.astro";
---

<Button data-counter-button>Contador <span data-counter-value>0</span></Button>

<script>
  document.querySelectorAll("[data-counter-button]").forEach((button) => {
    let count = 0;
    button.addEventListener("click", () => {
      count++;
      button.querySelector("[data-counter-value]").textContent = count;
    });
  });
</script>
