---
const { name = "mundo" } = Astro.props;
---

<div class="hello">
  <small>Componente Hello</small>
  <div>Prop name: {name}!</div>
</div>

<style>
  .hello {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 1rem;
  }
</style>
