---
const { onClick, variant = "outline", ...props } = Astro.props;
---

<button
  data-button
  data-button-action={onClick}
  data-variant={variant}
  {...props}
>
  <slot />
</button>

<script>
  document.querySelectorAll("[data-button]").forEach((button) => {
    button.addEventListener("click", () => {
      if (!button.dataset.buttonAction) return;
      const action = eval(button.dataset.buttonAction);
      action();
    });
  });
</script>

<style>
  [data-button] {
    cursor: pointer;
    padding: 0.5rem;
    width: fit-content;
    display: inline-block;
    background-color: transparent;
  }

  [data-button][data-variant="outline"] {
    border: 2px solid #000;
  }

  [data-button][data-variant="ghost"] {
    border: none;
  }

  [data-button]:hover {
    background-color: #000;
    color: #fff;
  }
</style>
