---
const { onClick, variant = "outline", ...props } = Astro.props;
---

<button
  data-button
  data-button-action={onClick}
  data-variant={variant}
  class={"py-1 px-4 bg-transparent border-2 border-solid rounded hover:bg-black hover:text-white focus:outline-none " +
    props.class}
  {...props}
>
  <slot />
</button>

<script>
  document.querySelectorAll("[data-button]").forEach((button) => {
    button.addEventListener("click", () => {
      const action = button.getAttribute("data-button-action");
      if (!action) return;
      const func = eval(action);
      func();
    });
  });
</script>

<style>
  [data-button][data-variant="outline"] {
    border-color: #000;
  }
  [data-button][data-variant="ghost"] {
    border-color: transparent;
  }
</style>
