---
import Alert from "../components/Alert.astro";
import "../style/global.css";

const { title = "Kindle Weather", ...props } = Astro.props;
const { pathname } = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={"flex flex-col min-h-screen " + props.class}>
    <Alert />
    <slot />
    <section
      class="flex items-center justify-center gap-4 fixed bottom-0 left-0 border-t-2 border-solid border-black p-4 w-full bg-white"
    >
      <a
        href={import.meta.env.BASE_URL}
        data-selected={pathname === import.meta.env.BASE_URL}
        class="border-b-2 border-solid border-transparent mx-4">Weather</a
      >
      <a
        href="settings"
        data-selected={pathname.includes("settings")}
        class="border-b-2 border-solid border-transparent mx-4">Settings</a
      >
      <a
        href="test"
        data-selected={pathname.includes("test")}
        class="border-b-2 border-solid border-transparent mx-4">test</a
      >
    </section>
  </body>
</html>

<style>
  [data-selected="true"] {
    border-color: #000;
  }
</style>
